.title
  height: 60px;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  line-height: 60px;
  padding-left: 22px;
  border-bottom: 1px solid #eee;
.steps
  height: 82px;
  padding: 25px 60px;
  background-color: #fff;
.content
  margin-top: 25px;
  min-height: 300px;
  padding: 70px 20px 20px;
  background-color: #fff;
:global .ant-tabs-nav-wrap
    background: #fff;
.editableTreeTitle
  display: inline-block;
  position: relative;
  min-width: 150px;
  line-height: 30px;
  :global 
    .ant-btn-group
      float: right ;
:global
  .ant-tree
    background: #fff;
.optIcon 
  font-size: 1.2em;
.optIcon + .optIcon
  margin-left: 6px;
